<div class="dice-roll" data-action="expandRoll">
    <div class="dice-result">
        <div class="dice-formula">{{competenceLabel}}</div>
        {{{tooltip}}}
        <div class="dice-formula">{{localize "beryllium.roll.common.totalVal" val=total}}</div>
        
        <div class="dice-formula">{{localize "beryllium.roll.common.difficulte.label" val=seuil}}</div>
        <h4 class="dice-total">{{result}}</h4>
    </div>
</div>
