<section
  class='tab {{tab.cssClass}}'
  data-group='primary'
  data-tab='heritage'
>
  <div class="pj-sheet-cat heritage">
    <div class="heritage">
        <label>{{localize "beryllium.pjsheet.heritage.affinite"}}</label>
        <input type="text" name="system.heritage.affinite" value="{{system.heritage.affinite}}" class="pj-sheet-input" placeholder=""/>
    </div>
    <div class="heritage">
        <label>{{localize "beryllium.pjsheet.heritage.privilege"}}</label>
        {{#each system.cultureobj.privileges as |privilege|}}
        <div class="fakeField">{{ privilege}}</div>
        {{/each }}
    </div>
    <div class="heritage">
        <label>{{localize "beryllium.pjsheet.heritage.faiblesse"}}</label>
        {{#each system.cultureobj.faiblesses as |faiblesse|}}
        <div class="fakeField">{{ faiblesse}}</div>
        {{/each }}
    </div>
    <div class="heritage">
        <label>{{localize "beryllium.pjsheet.heritage.specialisation"}}</label>
        {{#each system.cultureobj.specialisations as |specialisation|}}
        <div class="fakeField">{{ specialisation}}</div>
        {{/each }}
    </div>
  </div>
</section>