<section
  class='tab {{tab.cssClass}}'
  data-group='primary'
  data-tab='magie'
>
  <div class="pj-sheet-cat magie">
    <div class="multicol">
      <div>
          <label>{{localize "beryllium.pjsheet.magie.affinite.label"}}</label>
          <select name="system.magie.affinite">
              <option value="">{{localize "beryllium.pjsheet.magie.affinite.select"}}</option>
              {{#each listes.magies.list as |mag| }}
                  <option value="{{mag.id}}" {{#if (eq mag.id ../system.magie.affinite) }}selected{{/if}}>{{mag.name}}</option>
              {{/each}}
          </select>
      </div>
      <div>
          <label>{{localize "beryllium.pjsheet.magie.oppose.label"}}</label>
          <div class="fakeField">{{ system.magie.oppose.name }}</div>
      </div>
    </div>
  </div>

  <div class="inventory-section">
    <h3>{{localize "beryllium.pjsheet.magie.sort.listLabel"}}</h3>
    <div class="sorts-list">
      {{#each sorts.default as |sort|}}
          <div class="item flexrow" data-item-id="{{sort._id}}">
            <div data-action="lanceSort">{{sort.name}}</div>
            <div class="controls">
            </div>
          </div>
      {{/each}}
      </div>
      <div class="sort create" data-action="addItem" data-type="sort">
        <a><i class="fas fa-plus"></i> {{localize "beryllium.pjsheet.magie.sort.ajout"}}</a>
      </div>

      <div class="sorts-list"> 
      {{#each sorts.custom as |sort|}}
          <div class="item flexrow" data-item-id="{{sort._id}}">
            <div data-action="lanceSort"><a>{{sort.name}}</a></div>
            <div class="controls">
              <a data-action="editItem" data-type="sort" data-itemId="{{sort._id}}" title="{{localize "beryllium.pjsheet.magie.sort.edit"}}"><i class="fas fa-edit"></i></a>
              <a data-action="deleteItem" data-type="sort" data-itemId="{{sort._id}}" title="{{localize "beryllium.pjsheet.magie.sort.delete"}}"><i class="fas fa-trash"></i></a>
            </div>
          </div>
      {{/each}}
    </div>  
  </div>

</section>