<section
  class='tab {{tab.cssClass}}'
  data-group='primary'
  data-tab='max'
>
  <div class="pj-sheet-cat max">

    <h4>Maximum Stress</h4>
    <div class="line">
      <label>stress</label>
      <input type="text" name="system.stress.forceMax" value="{{system.stress.forceMax}}" class="pj-sheet-input" placeholder=""/>
    </div>
    <div class="line">
      <label>oubli</label>
      <input type="text" name="system.oubli.forceMax" value="{{system.oubli.forceMax}}" class="pj-sheet-input" placeholder=""/>
    </div>
    <div class="line">
      <label>echo</label>
      <input type="text" name="system.echo.forceMax" value="{{system.echo.forceMax}}" class="pj-sheet-input" placeholder=""/>
    </div>
    

    <h4>Maximum Consequences</h4>
    <div class="multicol">
      <div class="line">
        <label>legere</label>
        <input type="text" name="system.consequences.legere.max" value="{{system.consequences.legere.max}}" class="pj-sheet-input" placeholder=""/>
      </div>
      <div class="line">
        <label>modere</label>
        <input type="text" name="system.consequences.modere.max" value="{{system.consequences.modere.max}}" class="pj-sheet-input" placeholder=""/>
      </div>
      <div class="line">
        <label>grave</label>
        <input type="text" name="system.consequences.grave.max" value="{{system.consequences.grave.max}}" class="pj-sheet-input" placeholder=""/>
      </div>
    </div>

    <h4>Maximum fletrine</h4>
    <div class="multicol">
      <div class="line">
        <label>N1</label>
        <input type="text" name="system.magie.fletrine.niveaux.0.max" value="{{system.magie.fletrine.niveaux.0.max}}" class="pj-sheet-input" placeholder=""/>
      </div>
      <div class="line">
        <label>N2</label>
        <input type="text" name="system.magie.fletrine.niveaux.1.max" value="{{system.magie.fletrine.niveaux.1.max}}" class="pj-sheet-input" placeholder=""/>
      </div>
      <div class="line">
        <label>N3</label>
        <input type="text" name="system.magie.fletrine.niveaux.2.max" value="{{system.magie.fletrine.niveaux.2.max}}" class="pj-sheet-input" placeholder=""/>
      </div>
      <div class="line">
        <label>N4</label>
        <input type="text" name="system.magie.fletrine.niveaux.3.max" value="{{system.magie.fletrine.niveaux.3.max}}" class="pj-sheet-input" placeholder=""/>
      </div>
      <div class="line">
        <label>N5</label>
        <input type="text" name="system.magie.fletrine.niveaux.4.max" value="{{system.magie.fletrine.niveaux.4.max}}" class="pj-sheet-input" placeholder=""/>
      </div>
    </div>
  </div>
</section>