<section
  class='tab {{tab.cssClass}}'
  data-group='primary'
  data-tab='prouesses'
>
  <div class="pj-sheet-cat prouesses">
    {{#times system.prouesses.max }}
      <div class="prouesse " data-prouesse="{{index}}">
        {{#if (lookup system.prouesses.values index)}}
          {{#with (lookup system.prouesses.values index) as |prouesse|}}
            <div class="line">
              <label>{{localize "beryllium.pjsheet.prouesses.label" num=../index1 }}</label>
              <input type="text" name="system.prouesses.values.{{../index}}.nom" value="{{prouesse.nom}}" class="pj-sheet-input" placeholder=""/>  
            </div>
            <div class="line">
              <label>{{localize "beryllium.pjsheet.prouesses.effet"}}</label>
              <textarea name="system.prouesses.values.{{../index}}.effet" rows="2" class="pj-sheet-input" placeholder="">{{prouesse.effet}}</textarea>
            </div>
          {{/with}}
        {{else}}
          <div class="line">
            <label>{{localize "beryllium.pjsheet.prouesses.label" num=index1 }}</label>
            <input type="text" name="system.prouesses.values.{{index}}.nom" value="" class="pj-sheet-input" placeholder=""/>  
          </div>
          <div class="line">
            <label>{{localize "beryllium.pjsheet.prouesses.effet"}}</label>
            <textarea name="system.prouesses.values.{{index}}.effet" rows="2" class="pj-sheet-input" placeholder=""></textarea>
          </div>
        {{/if}}
      </div>
    {{/times}}
  </div>
</section>