<div class="infosperso">
    <div class="competence" data-competence="physique">
        <label>{{localize "beryllium.pjsheet.nom"}}</label>
        <input type="text" name="name" value="{{document.name}}" placeholder="{{localize "berryllium.pjsheet.name"}}"/>
    </div>
    <div class="competence" data-competence="physique">
        <label>{{localize "beryllium.pjsheet.culture.label"}}</label>
        <select name="system.culture">
            <option value="">{{localize "beryllium.pjsheet.culture.select"}}</option>
            {{#each culture.list as |cult| }}
                <option value="{{cult.id}}" {{#if (eq cult.id ../system.culture) }}selected{{/if}}>{{cult.name}}</option>
            {{/each}}
        </select>
    </div>
</div>        

   

<div class="pj-sheet-competences">
    <div class="competence">
        <label class="clickable" data-action="skillRoll" data-competence="physique">{{localize "beryllium.pjsheet.competences.physique"}}</label>
        <input type="number" name="system.competences.physique.value" value="{{system.competences.physique.value}}" class="pj-sheet-input" placeholder=""/>
    </div>
    <div class="competence">
        <label class="clickable" data-action="skillRoll" data-competence="combat">{{localize "beryllium.pjsheet.competences.combat"}}</label>
        <input type="number" name="system.competences.combat.value" value="{{system.competences.combat.value}}" class="pj-sheet-input" placeholder=""/>
    </div>
    <div class="competence">
        <label class="clickable" data-action="skillRoll" data-competence="discretion">{{localize "beryllium.pjsheet.competences.discretion"}}</label>
        <input type="number" name="system.competences.discretion.value" value="{{system.competences.discretion.value}}" class="pj-sheet-input" placeholder=""/>
    </div>
    <div class="competence">
        <label class="clickable" data-action="skillRoll" data-competence="erudition">{{localize "beryllium.pjsheet.competences.erudition"}}</label>
        <input type="number" name="system.competences.erudition.value" value="{{system.competences.erudition.value}}" class="pj-sheet-input" placeholder=""/>
    </div>
    <div class="competence">
        <label class="clickable" data-action="skillRoll" data-competence="magie">{{localize "beryllium.pjsheet.competences.magie"}}</label>
        <input type="number" name="system.competences.magie.value" value="{{system.competences.magie.value}}" class="pj-sheet-input" placeholder=""/>
    </div>
    <div class="competence">
        <label class="clickable" data-action="skillRoll" data-competence="perception">{{localize "beryllium.pjsheet.competences.perception"}}</label>
        <input type="number" name="system.competences.perception.value" value="{{system.competences.perception.value}}" class="pj-sheet-input" placeholder=""/>
    </div>
    <div class="competence">
        <label class="clickable" data-action="skillRoll" data-competence="influence">{{localize "beryllium.pjsheet.competences.influence"}}</label>
        <input type="number" name="system.competences.influence.value" value="{{system.competences.influence.value}}" class="pj-sheet-input" placeholder=""/>
    </div>
    <div class="competence">
        <label class="clickable" data-action="skillRoll" data-competence="technique">{{localize "beryllium.pjsheet.competences.technique"}}</label>
        <input type="number" name="system.competences.technique.value" value="{{system.competences.technique.value}}" class="pj-sheet-input" placeholder=""/>
    </div>
    <div class="competence">
        <label class="clickable" data-action="skillRoll" data-competence="volonte">{{localize "beryllium.pjsheet.competences.volonte"}}</label>
        <input type="number" name="system.competences.volonte.value" value="{{system.competences.volonte.value}}" class="pj-sheet-input" placeholder=""/>
    </div>
</div>