<div class="sheet beryllium pj-sheet">
    <input type="text" name="name" value="{{document.name}}" placeholder="{{localize "berryllium.pjsheet.name"}}"/>

    <div class="pj-sheet-cat aspects">
        <div class="aspects">
            <label>{{localize "beryllium.pjsheet.aspects.concept"}}</label>
            <input type="text" name="system.aspects.concept" value="{{system.aspects.concept}}" class="pj-sheet-input" placeholder=""/>
        </div>
        <div class="aspects">
            <label>{{localize "beryllium.pjsheet.aspects.probleme"}}</label>
            <input type="text" name="system.aspects.probleme" value="{{system.aspects.probleme}}" class="pj-sheet-input" placeholder=""/>
        </div>
        <div class="aspects">
            <label>{{localize "beryllium.pjsheet.aspects.lien"}}</label>
            <input type="text" name="system.aspects.lien" value="{{system.aspects.lien}}" class="pj-sheet-input" placeholder=""/>
        </div>
        <div class="aspects">
            <label>{{localize "beryllium.pjsheet.aspects.methode"}}</label>
            <input type="text" name="system.aspects.methode" value="{{system.aspects.methode}}" class="pj-sheet-input" placeholder=""/>
        </div>
    </div>

    <div class="pj-sheet-cat heritage">
        <div class="aspects">
            <label>{{localize "beryllium.pjsheet.heritage.affinite"}}</label>
            <input type="text" name="system.heritage.affinite" value="{{system.heritage.affinite}}" class="pj-sheet-input" placeholder=""/>
        </div>
    </div>

    <div class="pj-sheet-cat competences">
        <div class="aspects" data-competence="physique">
            <label>{{localize "beryllium.pjsheet.competences.physique"}}</label>
            <input type="number" name="system.competences.physique.value" value="{{system.competences.physique.value}}" class="pj-sheet-input" placeholder=""/>
        </div>
        <div class="aspects" data-competence="combat">
            <label>{{localize "beryllium.pjsheet.competences.combat"}}</label>
            <input type="number" name="system.competences.combat.value" value="{{system.competences.combat.value}}" class="pj-sheet-input" placeholder=""/>
        </div>
        <div class="aspects" data-competence="discretion">
            <label>{{localize "beryllium.pjsheet.competences.discretion"}}</label>
            <input type="number" name="system.competences.discretion.value" value="{{system.competences.discretion.value}}" class="pj-sheet-input" placeholder=""/>
        </div>
        <div class="aspects" data-competence="erudition">
            <label>{{localize "beryllium.pjsheet.competences.erudition"}}</label>
            <input type="number" name="system.competences.erudition.value" value="{{system.competences.erudition.value}}" class="pj-sheet-input" placeholder=""/>
        </div>
        <div class="aspects" data-competence="magie">
            <label>{{localize "beryllium.pjsheet.competences.magie"}}</label>
            <input type="number" name="system.competences.magie.value" value="{{system.competences.magie.value}}" class="pj-sheet-input" placeholder=""/>
        </div>
        <div class="aspects" data-competence="perception">
            <label>{{localize "beryllium.pjsheet.competences.perception"}}</label>
            <input type="number" name="system.competences.perception.value" value="{{system.competences.perception.value}}" class="pj-sheet-input" placeholder=""/>
        </div>
        <div class="aspects" data-competence="influence">
            <label>{{localize "beryllium.pjsheet.competences.influence"}}</label>
            <input type="number" name="system.competences.influence.value" value="{{system.competences.influence.value}}" class="pj-sheet-input" placeholder=""/>
        </div>
        <div class="aspects" data-competence="technique">
            <label>{{localize "beryllium.pjsheet.competences.technique"}}</label>
            <input type="number" name="system.competences.technique.value" value="{{system.competences.technique.value}}" class="pj-sheet-input" placeholder=""/>
        </div>
        <div class="aspects" data-competence="volonte">
            <label>{{localize "beryllium.pjsheet.competences.volonte"}}</label>
            <input type="number" name="system.competences.volonte.value" value="{{system.competences.volonte.value}}" class="pj-sheet-input" placeholder=""/>
        </div>
    </div>

</div>