<section
  class='tab aspects {{tab.cssClass}} active'
  data-group='primary'
  data-tab='aspects'
>
  <div class="pj-sheet-cat aspects">
      <div class="aspects">
          <label>{{localize "beryllium.pjsheet.aspects.concept"}}</label>
          <input type="text" name="system.aspects.concept" value="{{system.aspects.concept}}" class="pj-sheet-input" placeholder=""/>
      </div>
      <div class="aspects">
          <label>{{localize "beryllium.pjsheet.aspects.probleme"}}</label>
          <input type="text" name="system.aspects.probleme" value="{{system.aspects.probleme}}" class="pj-sheet-input" placeholder=""/>
      </div>
      <div class="aspects">
          <label>{{localize "beryllium.pjsheet.aspects.lien"}}</label>
          <input type="text" name="system.aspects.lien" value="{{system.aspects.lien}}" class="pj-sheet-input" placeholder=""/>
      </div>
      <div class="aspects">
          <label>{{localize "beryllium.pjsheet.aspects.methode"}}</label>
          <input type="text" name="system.aspects.methode" value="{{system.aspects.methode}}" class="pj-sheet-input" placeholder=""/>
      </div>
  </div>
</section>