<section
  class='tab heritage {{tab.cssClass}}'
  data-group='primary'
  data-tab='heritage'
>
  <div class="pj-sheet-cat heritage">
    <div class="heritage">
        <label>{{localize "beryllium.pjsheet.heritage.affinite"}}</label>
        <input type="text" name="system.heritage.affinite" value="{{system.heritage.affinite}}" class="pj-sheet-input" placeholder=""/>
    </div>
    <div class="heritage">
        <label>{{localize "beryllium.pjsheet.heritage.incomp"}}</label>
        <input type="text" name="system.heritage.incomp" value="{{system.heritage.incomp}}" class="pj-sheet-input" placeholder=""/>
    </div>
    <div class="heritage">
        <label>{{localize "beryllium.pjsheet.heritage.privilege"}}</label>
        <input type="text" name="system.heritage.privilege" value="{{system.heritage.privilege}}" class="pj-sheet-input" placeholder=""/>
    </div>
    <div class="heritage">
        <label>{{localize "beryllium.pjsheet.heritage.faiblesse"}}</label>
        <input type="text" name="system.heritage.faiblesse" value="{{system.heritage.faiblesse}}" class="pj-sheet-input" placeholder=""/>
    </div>
    <div class="heritage">
        <label>{{localize "beryllium.pjsheet.heritage.tradition"}}</label>
        <input type="text" name="system.heritage.tradition" value="{{system.heritage.tradition}}" class="pj-sheet-input" placeholder=""/>
    </div>
    <div class="heritage">
        <label>{{localize "beryllium.pjsheet.heritage.specialisation"}}</label>
        <input type="text" name="system.heritage.specialisation" value="{{system.heritage.specialisation}}" class="pj-sheet-input" placeholder=""/>
    </div>
  </div>
</section>